html,
body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  margin: 10px 5px;
  background-color: rgb(243, 243, 243);
  color: rgb(83, 81, 81);
  margin: 30px 20px;
}

h1 {
  font-size: 3.5em;
  font-weight: 300;
  font-family: 'Julius Sans One', sans-serif;
}

h2 {
  font-size: 2.5em;
}

h5 {
  font-size: 0.9em;
}

p {
  font-weight: 300;
}

hr {
  margin: 15px 0 10px 0;
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double rgb(187, 174, 117);
  color: rgb(187, 174, 117);
  text-align: center;
}

hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: rgb(243, 243, 243);
}

/*
 *
 * HEADER
 * 
 */

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.menu-icon {
  display: none;
}

.header-left {
  width: 100px;
}

.header-left img {
  width: 90%;
}

.header-right h6 {
  float: right;
  padding: 8px 15px;
  margin-top: 13px;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.1em;
  background-color: rgba(68, 65, 65, 0.644);
  color: #fff;
}

/*
 *
 * NAV
 * 
 */

.nav-item {
  width: 24%;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}

.nav-item a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
  font-family: 'Julius Sans One', sans-serif;
}

.nav-item a:hover {
  color: rgb(66, 64, 64);
  font-size: 1.08em;
}

/*
 *
 * MAIN IMAGE
 * 
 */

.main-top {
  margin-top: 30px;
}

.main-top-inner img {
  width: 100%;
}

.credit {
  font-size: 0.8em;
  font-weight: 300;
  color: rgb(177, 177, 177);
  float: right;
  padding-top: 5px;
}

/*
 *
 * ABOUT ME
 * 
 */

.main-middle {
  width: 100%;
  height: 250px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-image {
  width: 20%;
  height: 250px;
  display: flex;
  align-items: center;
}

.my-image img {
  max-width: 100%;

  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 28px -5px rgba(120, 119, 120, 0.61);
  -moz-box-shadow: 10px 10px 28px -5px rgba(120, 119, 120, 0.61);
  box-shadow: 10px 10px 28px -5px rgba(120, 119, 120, 0.61);
}

.about-me-paragraph {
  line-height: 1.6;
  width: 70%;
  height: 80%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.38);
}

.about-me-paragraph p {
  padding: 0 15px;
}

/*
 *
 * GALLERY
 * 
 */

.main-bottom {
  padding-bottom: 40px;
}

.gallery-title {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 15px 0;
  text-align: center;
}

.gallery {
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.gallery-box {
  width: 22.5%;
}

.gallery-box img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.38);
}

.gallery-desc {
  padding-top: 20px;
  text-align: center;
}

/*
 *
 * FOOTER
 * 
 */

footer {
  height: 70px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.icon {
  width: 30px;
}

.icon img {
  width: 100%;
}

.icon img:hover {
  cursor: pointer;
}

.rights {
  margin: 20px 0;
  font-weight: 300;
}
